<header class="header-section">
    <nav class="main-navbar">
        <div class="container d-flex">
            <div style="flex: 1" class="pt-2 nav-logo-container">
                <a href="index.html"><img src="./../img/logo-light.png" alt=""></a>
            </div>

            <div class="mobile-nav-padding"></div>

            <ul class="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/admin/products">Sản phẩm</a></li>
                <li><a href="/admin/products/new">Thêm sản phẩm</a></li>
                <li><a href="/admin/types">Loại sản phẩm</a></li>
                <li><a href="/admin/types/new">Thêm loại sản phẩm</a></li>
            </ul>
        </div>
    </nav>
</header>
