<h2 class="page-header">Thêm loại sản phẩm</h2>
<form action="/admin/authors" method="POST">
    <%- include('_form_field.ejs')%>
   
    <a class= "btn btn-danger" href="/admin/types" >Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>