<h2 class="page-header">Edit sản phẩm</h2>
<form action="/admin/products/<%= product.id%>?_method=PUT" method="POST">
    <%- include('_form_field.ejs')%>
   
    <a class="btn btn-danger" href="/admin/products" >Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>