<h2 class="page-header">Thêm sản phẩm: </h2>
<form action="/admin/products" method="POST" >
    <%- include('_form_field.ejs')%>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/admin/products">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
      </div>   
</form>